.about-container {
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
  }
  
  hr {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .resume {
    display: flex;
  }
  
  .left-column {
    flex: 1;
    padding-right: 20px;
  }

  .left-column h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .right-column {
    flex: 2;
  }

  .right-column p {
    font-size: 16px;
    margin-top: 5px; 
  }
  
  .snippet-text {
    padding-left: 3rem;
    text-align: left;
    font-size: 1.5em;
  }

  .about-container {
    padding: 0 7rem;
  }

  /* .download-button {
    justify-content: end;
  } */
  
  @media (max-width: 768px) {
       .btn {
      transform: scale(0.8);
    }

  .download-button {
    justify-content: center;
    padding: 0;
    display: flex;
  }
    .about-container {
      padding: 0 2rem 0 2rem;
      font-size: 0.6em;
      justify-content: center;
}
.snippet-text {
  padding: 0 2rem;
  text-align: start;
  text-align: justify;
}
  }
  
  @media (max-width: 576px) {
    .btn {
      transform: scale(0.7);
    }
    .about-container {
      padding: 0 2rem 0 2rem;
      font-size: 0.6em;
      justify-content: center;
}
.snippet-text {
  padding: 0;
  text-align: start;
  text-align: justify;
}
  }