.content {
    margin: 5rem 0;
    
}

.header {
    margin:4rem 0;
}

.contact {
    margin: 7rem 0; 
    padding-bottom: 7rem;
}
.gradient-background {
    background: linear-gradient(to bottom, white, #ffdab9);

  }

