#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    padding: 2rem 5rem;
  }

  @media (max-width: 768px) {
    #navbar {
      padding: 2rem;
    }
  }

