
.with-margin-top {
    margin-top: 5rem;
  }

.horizontal-scroll-container {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    scrollbar-width: none; 
    width: 100%; 
    -webkit-overflow-scrolling: touch;
  }
  
  .project {
    margin-right: 20px; 
  }
  
  .horizontal-scroll-container::-webkit-scrollbar {
    display: none; 
  }

    .project-image:hover {
    transform: scale(1.02);
  }

  .heading {
    padding: 0 7rem 0;
  }

.project-image {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  max-height: 400px; 
  width: auto;
}

.scroll {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .project-image {
    max-height: 300px; 
    margin: 0;
  }
  .heading {
    padding: 2rem 2rem 0 2rem ;
  }
  .scroll {
    margin-bottom: 0;
  }
  .content {
    margin-bottom: 0!important;
  }
}

@media (max-width: 576px) {
  .project-image {
    max-height: 200px; 
  }
  .heading {
    padding: 0 2rem 0 2rem ;
  }
}


 
  