  .card {
    margin: 1rem;
    border:1px solid #ccc;
    border-radius:10px;
    transition: transform 0.2s ease-in-out;
    }

  .card:hover {
opacity:0.8;
  }

  #image {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
  }
 
  .portfolio {
    padding: 0 7rem;
    margin-top: 8.3rem;
    margin-bottom:8rem;
  }

  .title-spacing {
    margin-top: 0.5rem;
    font-size: 20px;
    padding-left:1rem;
    color:black;
  }
 
  .project-link {
    font-size:15px;
    margin-bottom:0.5rem;
  }

  .project-link a{
    color: rgb(9, 9, 9);
  }

 .project-text p{
  font-size: 15px;
  text-align: left;
  padding: 0 1rem;
 }
  
  .project-title {
    flex-grow: 1;
    margin-right: 10px; 
  }
  
.project-link:hover {
  transform: scale(1.05);
}
.project-link a:hover{
  color: rgb(9, 9, 9);
  transform: scale(1.05);

}
.title-spacing:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {

.content{
  margin: 9rem 0;
}

}

@media (max-width: 576px) {
  .portfolio{
    margin: 0 2rem;
    padding: 0;
  }
}